<div class="avatar-composition">
    <img src="/assets/pictures/star.png" alt="" class="avatar-star" aria-hidden="true">
    <img
        src="/assets/pictures/avatar.jpg"
        alt="A latina-looking woman wearing glasses and smiling - that's me!"
        class="avatar-image">
</div>