:root {
    --bg-color: #BFDAFF;
    --primary-color: #04474F;
    --secondary-color: #D15400;
    --tertiary-color: #FFFFFF;
    --header-bd-color: #F6EBC8;

}
body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
}

button {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

header {
    background-color: var(--header-bd-color);
    color: var(--primary-color);
    padding: 1em 2em;
    font-family: 'Cherry Bomb One', cursive;
}

main {
    padding: 1em 2em;
    height: calc(100vh - 8em);
}

footer {
    color: var(--primary-color);
    text-align: center;
}