:root {
    --bg-color: #BFDAFF;
    --primary-color: #04474F;
    --secondary-color: #D15400;
    --tertiary-color: #FFFFFF;
    --header-bg-color: #F6EBC8;
    --base-font-size: 1;
    font-size: calc(var(--base-font-size) * 1rem);
}

@font-face {
    font-family: 'Cherry Bomb One';
    src: url('/assets/fonts/Cherry_Bomb_One/CherryBombOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url('/assets/fonts/Lexend/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    font-family: Lexend, Arial, sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: 'Cherry Bomb One', cursive;
    text-shadow: 2px 2px 0px var(--tertiary-color);
}

/* Base link styles */
a,
a:visited,
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

button,
button:active,
button:visited,
.btn,
.btn:visited,
.btn:active {
    display: inline-block;
    border-radius: 40px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: 1px solid transparent;
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

button:hover,
.btn:hover {
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--tertiary-color);
    border: 1px solid var(--secondary-color);
}

button.btn-round,
.btn-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
    width: auto;
    min-width: 2.5rem;
    min-height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
}

header {
    background-color: var(--header-bd-color);
    color: var(--primary-color);
    padding: 1em 2em;
    font-weight: bold;
    font-family: Lexend, Arial, sans-serif;
}

main {
    padding: 1em 2em;
    height: calc(100vh - 8em);
    display: grid;
    grid-template-columns: 1fr auto;
}

nav {
    font-family: Cherry Bomb One, cursive;
    color: var(--primary-color);
}

nav a {
    text-shadow: 2px 2px 0px var(--tertiary-color);
    font-size: 1.5em;
    margin-right: 1em;
}

footer {
    color: var(--primary-color);
    text-align: center;
}